<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
 </head>

 <body class="body" style="width:100%;height:100%;padding:0;Margin:0">
  <div dir="ltr" class="es-wrapper-color" lang="en" style="background-color:#EFEFEF">
   <table style="background-color:#ffffff;margin-left:auto;margin-right:auto;" class="es-content-body">
    <td style="Margin:0;padding-top:40px;padding-right:30px;padding-bottom:40px;padding-left:30px">
     <table>
      <tr style="border-collapse:collapse">
       <td>
        <h3 style="Margin:0;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:20px;font-style:normal;font-weight:normal;line-height:24px;color:#666666">Передача выпущенных документов<br></h3>
       </td>
      </tr>
      <tr style="border-collapse:collapse">
       <td>
        <p style="font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;letter-spacing:0;color:#999999;font-size:14px">К письму прикреплены документы для дальнейшей обработки.</p>
       </td>
      </tr>
     </table>
    </td>
   </table>
  </div>
 </body>

</html>